<a href="https://colab.research.google.com/github/18101003rakin/python_practice/blob/master/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tutorial_20 (Car Game)

In [5]:
command = " "

while True:
  command = input("> ").lower()

  if command == "start":
    print("Car is started>>")

  elif command == "stop":
    print("Car is stopped.<<")
  
  elif command == "help":
    print('''
    start - to start the car
    stop - to stop the car
    quit - to quit''')

  elif command == "quit":
    print("quited")
    break
  
  else:
    print("Sorry! I don't understand.")

> help

    start - to start the car
    stop - to stop the car
    quit - to quit
> start
Car is started>>
> stop
Car is stopped.<<
> hj
Sorry! I don't understand.
> quit
quited

Tutorial_21 (for loop)

In [16]:
for item in "python":
  print(item)

for item2 in ['Limon','Rabby','Sazal','Sakib','Rakin']:
  print(item2)

for item in range(10):
  print(item)

for item in range(10,20):
  print(item)

for item in range(10,20,2):
  print(item)

p
y
t
h
o
n
Limon
Rabby
Sazal
Sakib
Rakin
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
10
12
14
16
18

Nested loop

In [27]:
for x in range(4):
  for y in range(3):
    print(f"{x},{y}")

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2
3,0
3,1
3,2

In [28]:
#XXXXX
#XX
#XXXXX
#XX
#XX

numbers = [5,2,5,2,2]
for x_count in numbers:
  print('x'*x_count)

xxxxx
xx
xxxxx
xx
xx

In [30]:
numbers = [5,2,5,2,2]
for x_count in numbers:
  output = ''
  for count in range(x_count):
    output += 'x'
print(output)

xx

Find the largest number from list

In [31]:
values = [11,23,34,21,22]
largest_value = values[0]

for maximum in values:
  if maximum>largest_value:
    largest_value = maximum
print(largest_value)

34

2D list

In [35]:
matrix = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
]
print(matrix[0][1])

2

List Methods

In [49]:
number = [50,20,1,7,4]

number.append(5) #add a new value to the list
print(number)
number.insert(0,9) #add new value at new position
print(number)
number.pop() #remove last item from list
print(number)

#number.index(5) #existence of a value
#print(number)
print(50 in number) #existence of a value
print(number)
number.count(5) #to count how many fives in the list
print(number)
number.sort() #sort the list in assending order
print(number)
number.reverse() #reverse the sorted list
print(number)
number_2 = number.copy() #copy the list
print(number)
number.remove(7) #remove a value
print(number)
number.clear() #clear the whole list
print(number)

[50, 20, 1, 7, 4, 5]
[9, 50, 20, 1, 7, 4, 5]
[9, 50, 20, 1, 7, 4]
True
[9, 50, 20, 1, 7, 4]
[9, 50, 20, 1, 7, 4]
[1, 4, 7, 9, 20, 50]
[50, 20, 9, 7, 4, 1]
[50, 20, 9, 7, 4, 1]
[50, 20, 9, 4, 1]
[]

Remove all the duplicate values from [2,3,4,4,2,,6,,7]

In [52]:
numbers = [2,3,4,4,2,6,7]
uniques = []

for number in numbers:
  if number not in uniques:
    uniques.append(number)
print(uniques)

[2, 3, 4, 6, 7]

Tutorial_22 (Tupple)

In [53]:
number = (1,2,3)
print(number[0])

1

Tutorial_23 (unpacking)

In [54]:
coordinates = (1,2,3)
x,y,z = coordinates
print(x)

1

Tutorial_24 (Dictionaries)

In [60]:
customer = {
    "name" : "John Smith",
    "age" : 30,
    "is_verified" : True
}
print(customer["name"])
customer['name']='Saladin'
print(customer.get("name"))
print(customer.get("address"))

John Smith
Saladin
None

Phone : 1234
Output : one two three four

In [61]:
phone = input("Phone : ")
digits_mapping = {
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four"
}
output=""
for ch in phone:
  output+=digits_mapping.get(ch,"!")+" "
print(output)

Phone : 1234
One Two Three Four

Tutorial_25 (Emoji Converter)
I am sad :(
-> I am sad :(
Good morning :)
-> Good morning :)

In [62]:
message = input("> ")
words = message.split(' ')

emojis = {
    ":)" : ":)",
    ":(" : ":("
}
output = " "
for word in words :
  output+=emojis.get(word,word)+" "
print(output)

> :)
 :)